<div class="p-4">
  <div *ngIf="!selectedBill">
    <!-- Search Input -->
    <input placeholder="Search by Name or Phone Number"
      class="w-full mb-4 p-2 border border-primary border-opacity-40 rounded shadow-sm"
      [(ngModel)]="searchTerm" />
    <!-- Customer List as Rows -->
    <div class="shadow-sm border rounded-lg">
      <table class="w-full border-collapse">
        <thead class="border-b">
          <tr class="text-left">
            <th class="py-2 px-4 bg-gray-200">Bill Number</th>
            <th class="py-2 px-4 bg-gray-200">Customer Name</th>
            <th class="py-2 px-4 bg-gray-200">Customer Phone</th>
            <th class="py-2 px-4 text-end bg-gray-200">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y">
          <tr *ngFor="let bill of billingList">
            <td class="py-2 px-4 text-primary cursor-pointer hover:underline"
              (click)="onBillClick(bill)">
              {{bill.billId}}
            </td>
            <td class="py-2 px-4">{{bill.custName}}</td>
            <td class="py-2 px-4">{{bill.custMobile}}</td>
            <td class="py-2 px-4">
              <div class="flex justify-end gap-x-4">
                <button class="p-1">
                  <i class="text-base text-primary fa-solid fa-pen"></i>
                </button>
                <button class="p-1">
                  <i class="text-base text-danger text-opacity-75 fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-4 flex items-center justify-end">
      <button class="btn-primary">
        <i class="fa-solid fa-plus pr-1"></i>Add
      </button>
    </div>
  </div>
  <div *ngIf="selectedBill">
    <h2 class="font-medium">My Tailor Shop</h2>
    <div class="flex justify-between border-b border-gray-300 mt-2 pb-1">
      <span>This is the address of the shop</span>
      <div>
        <i class="fa-solid fa-phone mx-1"></i> 9876543210 | 9888777660
      </div>
    </div>
    <div *ngIf="selectedBill.customer" class="my-4">
      <div class="flex justify-between">
        <p>Name: <span class="font-medium">{{selectedBill.customer.name}}</span></p>
        <p>Phone: <span class="font-medium">{{selectedBill.customer.mobile}}</span></p>
      </div>
      <div class="mt-1">
        <p>Address: <span class="font-medium">{{selectedBill.customer.address}}</span></p>
      </div>
    </div>
    <div class="mb-4">
      <div class="flex justify-between">
        <p>Bill ID: <span class="font-medium">#{{selectedBill.billId}}</span></p>
        <p>Bill Date: <span class="font-medium">{{selectedBill.billDate}}</span></p>
      </div>
      <div class="mt-1">
        <p>Due Date: <span class="font-medium">{{selectedBill.dueDate}}</span></p>
      </div>
    </div>
    <div *ngIf="selectedBill.billingItems">
      <table class="w-full border-collapse">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 bg-gray-200">Item</th>
            <th class="py-2 px-4 bg-gray-200">Quantity</th>
            <th class="py-2 px-4 bg-gray-200">Rate</th>
            <th class="py-2 px-4 bg-gray-200">Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- Repeat this section for each item -->
          <tr *ngFor="let item of selectedBill.billingItems">
            <td class="py-2 px-4">{{item.type}}</td>
            <td class="py-2 px-4">{{item.quantity}}</td>
            <td class="py-2 px-4">{{item.rate}}</td>
            <td class="py-2 px-4">{{item.rate * item.quantity}}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4 pb-4 flex justify-end border-b border-gray-300">
        <div class="pr-6">
          <p class="flex justify-between"><span class="font-semibold px-2">Total:</span> <span>{{billTotal}}</span></p>
          <p class="flex justify-between"><span class="font-semibold px-2">Advance:</span> <span>{{advance}}</span></p>
          <p class="flex justify-between"><span class="font-semibold px-2">Remaining:</span> <span>{{billTotal - advance}}</span></p>
        </div>
      </div>
    </div>
    <!-- (2x2 Grid) -->
    <div *ngIf="selectedBill.billingItems" class="grid grid-cols-2 gap-4">
      <div *ngFor="let item of selectedBill.billingItems"
        class="p-4 rounded">
        <h2 class="mb-2">{{item.type}} measurements</h2>
        <div *ngFor="let node of item.measurement | keyvalue">
          <span>{{node.key}}:</span> {{node.value}}
        </div>
      </div>
    </div>
    <div class="mt-8 flex justify-center gap-x-6">
      <button type="button" class="btn-secondary" (click)="onBackClick()">Back</button>
      <button type="button" class="btn-primary" (click)="printInvoice()">Print Invoice</button>
    </div>
  </div>
</div>